@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700|Lora");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  text-rendering: optimizeLegibility; }
  @media (max-width: 576px) {
    * {
      font-size: 56.25%; } }

p, p *, span, li, div.caption, th, td, code {
  font-family: "Lora","Palatino", "Palatino Linotype", "Georgia", Times, Serif;
  font-size: 1.9rem;
  line-height: 3.2rem;
  margin-top: 1.8rem;
  color: rgba(0, 0, 0, 0.8); }

.center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-button, .text-button:visited, .text-button:link, .text-button:hover, .text-button:active, a i.icon, .article p a {
  color: #3878BA;
  text-decoration: none;
  transition: all .3s ease-in-out 0s;
  border-bottom: 2px transparent solid; }

.show-hide-intro {
  font-size: 1.6rem; }

a i.icon {
  text-align: center; }

.text-button:hover, a i.icon:hover, .article p a:hover {
  cursor: pointer;
  border-bottom: 2px #EFB64A solid; }

hr {
  border-top: 2px #3878BA solid;
  max-width: calc(1060px - 2rem);
  margin: 0px auto; }
  @media (min-width: 576px) and (max-width: 768px) {
    hr {
      margin: 0 2rem; } }
  @media (max-width: 576px) {
    hr {
      margin: 0 1rem; } }

.container-large {
  margin: 0 auto;
  width: 100%;
  max-width: 1060px; }

@keyframes expand {
  from {
    max-height: 0; }
  to {
    max-height: 1000px; } }
@keyframes collapse {
  from {
    max-height: 1000px; }
  to {
    max-height: 0; } }
@media (min-width: 769px) {
  .info {
    padding-top: 172px; } }
@media (min-width: 576px) and (max-width: 768px) {
  .info {
    padding-top: 130px; } }
@media (max-width: 576px) {
  .info {
    padding-top: 80px; } }

.intro {
  height: 0px;
  overflow-y: hidden;
  margin-top: 1rem; }
  @media (min-width: 769px) {
    .intro {
      padding: 0 1rem; } }
  @media (min-width: 576px) and (max-width: 768px) {
    .intro {
      padding: 0 2rem; } }
  @media (max-width: 576px) {
    .intro {
      padding: 0 1rem; } }
  .intro p, .intro a {
    font-size: 1.6rem;
    line-height: 3.1rem; }

img.profile-picture {
  border-radius: 50%;
  max-width: 172px;
  max-height: 172px;
  transition: all .5s ease-in-out; }
  @media (max-width: 320px) {
    img.profile-picture {
      max-width: 150px;
      max-height: 150px; } }

img.profile-picture.shrink {
  max-width: 146.2px;
  max-height: 146.2px; }

.name {
  padding-top: 5rem;
  font-family: Lato, SansSerif;
  font-weight: 400;
  font-size: 4.5rem;
  letter-spacing: .1rem; }

.subtitle {
  font-family: Lato, SansSerif;
  font-weight: 300;
  color: #707070;
  font-size: 2rem;
  line-height: 2.4rem; }

.portfolio {
  padding-bottom: 2rem; }
  .portfolio .section-heading {
    font-family: Lato, SansSerif;
    font-weight: 700;
    font-size: 2.5rem;
    letter-spacing: .1rem;
    text-transform: uppercase;
    padding: 4rem; }
  .portfolio .items-container, .portfolio .misc-items-container {
    max-width: 1060px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin: -2rem auto 2rem auto; }
    @media (min-width: 769px) {
      .portfolio .items-container, .portfolio .misc-items-container {
        padding: 0 1rem; } }
    @media (min-width: 576px) and (max-width: 768px) {
      .portfolio .items-container, .portfolio .misc-items-container {
        padding: 0 2rem; } }
    @media (max-width: 576px) {
      .portfolio .items-container, .portfolio .misc-items-container {
        padding: 0 1rem; } }
  .portfolio .item {
    text-decoration: none;
    text-align: left; }
    .portfolio .item img {
      box-sizing: content-box;
      width: 100%;
      max-height: 265px;
      object-fit: cover; }
    .portfolio .item .title {
      font-family: Lato, SansSerif;
      font-weight: 700;
      font-size: 2.3rem;
      text-rendering: optimizeLegibility;
      padding: 1rem 0;
      color: black; }
    .portfolio .item .subtitle {
      font-family: Lato, SansSerif;
      font-weight: 300;
      color: #707070;
      font-size: 1.9rem;
      line-height: 2.4rem; }

.items-container .item-wrapper {
  margin: 2rem 0 3rem 0;
  width: 48%; }
  @media (max-width: 576px) {
    .items-container .item-wrapper {
      width: 100%; } }

.misc-items-container .item-wrapper {
  margin: 2rem 0 3rem 0;
  width: 31%; }
  @media (max-width: 576px) {
    .misc-items-container .item-wrapper {
      width: 100%; } }

.footer {
  margin: 4rem 0; }
  .footer .links {
    padding: 5rem 0;
    margin: 0 auto;
    width: auto; }
  .footer a i.icon {
    padding: 0 0 2.6rem 0;
    margin: 0 .5rem;
    display: inline-block;
    vertical-align: middle; }
  .footer i.icon {
    font-size: 2rem; }

#back-button {
  position: fixed;
  top: 3em;
  font-size: 4em;
  color: #EFB64A;
  z-index: 10;
  opacity: 0; }
  @media (min-width: 769px) {
    #back-button {
      top: calc((100vw - 68rem) / 20 + .5em);
      left: calc((100vw - 68rem) / 20 ); } }
  @media (min-width: 576px) and (max-width: 768px) {
    #back-button {
      display: none; } }
  @media (max-width: 576px) {
    #back-button {
      display: none; } }

#back-button:hover {
  cursor: pointer;
  transition: opacity .3s ease-in-out; }

#back-button.enabled {
  opacity: 1;
  transition: opacity .3s ease-in-out; }

#back-button.fadeOut {
  opacity: 0;
  transition: opacity .3s ease-in-out; }

section.landing-image, .landing-image img {
  max-height: 70vh;
  width: 100%; }
  @media (max-width: 576px) {
    section.landing-image, .landing-image img {
      min-height: 150px; } }

@keyframes slide-up-fade-in {
  0% {
    opacity: 0;
    transform: translateY(100vh); }
  100% {
    opacity: 1;
    transform: translateY(0); } }
section.landing-image {
  animation: .5s ease-out slide-up-fade-in; }

.landing-image img {
  object-fit: cover;
  object-position: 50% 2%; }

.landing-image div.title {
  padding: 4rem 5vw;
  font-family: Lato, SansSerif;
  text-align: left;
  font-size: 4.5rem;
  color: white;
  max-width: 68rem;
  margin: 0 auto;
  align-self: flex-end; }
  @media (min-width: 769px) {
    .landing-image div.title {
      padding: 4rem 4rem 4rem 0;
      max-width: 68rem; } }
.landing-image div.title-container {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, transparent 50%, rgba(0, 0, 0, 0.2) 55%, black 85%, black 100%);
  /* w3c */
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex; }

.article-wrapper > *, .iframe-alternate-photos, .interactive-website {
  width: 68rem;
  margin-left: calc(50vw - 34rem); }
  @media (max-width: 780px) {
    .article-wrapper > *, .iframe-alternate-photos, .interactive-website {
      max-width: 100%;
      margin: 0; } }

.article-wrapper {
  width: 100%;
  padding: 3rem 5vw; }
  @media (min-width: 769px) {
    .article-wrapper {
      padding: 3rem 0; } }
  .article-wrapper p {
    margin-top: 1.8rem; }
  .article-wrapper ul, .article-wrapper ul {
    padding-left: 3rem; }
  .article-wrapper h1, .article-wrapper h2, .article-wrapper h3, .article-wrapper h4, .article-wrapper h1 em, .article-wrapper h2 em, .article-wrapper h3 em, .article-wrapper h4 em {
    font-family: Lato, SansSerif; }
  .article-wrapper h1, .article-wrapper h1 em {
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 7rem;
    padding-top: 7rem; }
  .article-wrapper h2, .article-wrapper h2 em {
    font-size: 2.9rem;
    font-weight: 400;
    line-height: 6rem;
    padding-top: 4rem; }
  .article-wrapper h3, .article-wrapper h3 em {
    font-size: 2.5rem;
    font-weight: 400;
    color: #555555;
    line-height: 5rem;
    padding-top: 3rem; }
  .article-wrapper h4, .article-wrapper h4 em {
    font-size: 2rem;
    font-weight: 400;
    color: #555555;
    text-decoration: underline;
    line-height: 4rem; }
  .article-wrapper img {
    margin-top: 4rem;
    margin-bottom: 3rem; }
    @media (min-width: 576px) and (max-width: 768px) {
      .article-wrapper img {
        width: 100%;
        margin-left: 0;
        margin-right: 0; } }
  .article-wrapper .interactive-website {
    margin-left: 0; }
  .article-wrapper img:not(.no-zoom):hover {
    cursor: zoom-in; }
  .article-wrapper blockquote {
    border-left: .3rem solid #c9c9c9;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
    margin-left: calc(50vw - 34rem + 3rem);
    max-width: calc(68rem - 3rem);
    padding: .2rem .2rem .2rem 2rem; }
    @media (max-width: 780px) {
      .article-wrapper blockquote {
        margin-left: 2rem;
        margin-right: inherit; } }
    @media (max-width: 576px) {
      .article-wrapper blockquote {
        width: calc(100vw - 2rem - 10vw); } }
    @media (min-width: 576px) and (max-width: 768px) {
      .article-wrapper blockquote {
        width: calc(100vw - 2rem - 10vw); } }
    .article-wrapper blockquote p {
      margin-top: 0; }
    .article-wrapper blockquote ol, .article-wrapper blockquote ul {
      margin-left: 4rem; }
  .article-wrapper code {
    font-family: "Courier New", Courier, Monospaced; }
  .article-wrapper table {
    max-width: 68rem;
    margin: 4rem auto 5rem auto;
    border-collapse: collapse;
    width: 100%;
    border: none; }
    .article-wrapper table .text-right {
      text-align: right; }
    .article-wrapper table .highlight-green {
      background-color: rgba(0, 179, 65, 0.38); }
    .article-wrapper table th {
      border-bottom: 2px solid black;
      font-weight: 300;
      padding: 1rem; }
    .article-wrapper table td {
      border: 1px solid grey;
      vertical-align: top; }
    .article-wrapper table tr td:first-child {
      border-left: none; }
    .article-wrapper table tr td:last-child {
      border-right: none; }
    .article-wrapper table tbody tr:last-child td {
      border-bottom: none; }
    .article-wrapper table tr td {
      padding: .3rem 1rem; }
  .article-wrapper div.title {
    padding-top: 3rem;
    font-family: Lato, SansSerif;
    font-weight: 700;
    text-align: left;
    font-size: 6rem;
    color: black; }
  .article-wrapper div.subtitle {
    padding-top: 1rem;
    padding-bottom: 8rem;
    font-family: Lato, SansSerif;
    font-weight: 600;
    text-align: left;
    font-size: 3.8rem;
    border-bottom: 2px solid darkgrey;
    line-height: 4rem;
    max-width: 100%; }
  .article-wrapper hr {
    width: 62rem;
    margin: 3rem calc(50vw - 34rem + 3rem); }
    @media (max-width: 780px) {
      .article-wrapper hr {
        margin: 3rem 3rem; } }
    @media (max-width: 576px) {
      .article-wrapper hr {
        width: calc(100vw - 6rem - 10vw); } }

.article {
  padding-bottom: 4rem; }
  .article hr {
    border-top: 1px solid #dadada; }

.additional-articles {
  background-color: #FAFAFA;
  display: flex;
  width: 100%;
  padding: 3rem 0; }
  .additional-articles .article-column {
    width: 40%; }
  .additional-articles .home-column {
    width: 20%;
    text-align: center;
    justify-content: center; }
  .additional-articles .article-column.next {
    text-align: right;
    float: right; }
    @media (max-width: 576px) {
      .additional-articles .article-column.next {
        width: 80%; } }
  @media (max-width: 576px) {
    .additional-articles .article-column.prev {
      display: none; } }
  .additional-articles .previous-article, .additional-articles .next-article, .additional-articles .home-column {
    align-items: center;
    display: flex; }
  .additional-articles .navigation, .additional-articles .titles {
    display: inline-block; }
  .additional-articles .titles {
    padding-bottom: .8rem;
    border-bottom: 3px transparent solid;
    transition: all 0.3s ease-in-out; }
  .additional-articles .navigation {
    padding: 0 1rem; }
  .additional-articles h1, .additional-articles h2 {
    font-family: Lato, SansSerif; }
  .additional-articles h1 {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 4rem; }
  .additional-articles h2 {
    font-size: 2rem;
    font-weight: 400; }
  .additional-articles a i.icon {
    font-size: 2.5rem;
    color: black;
    border: none; }
  .additional-articles a i.home.icon {
    font-size: 3.5rem;
    padding-bottom: 3.5rem;
    border-bottom: 3px transparent solid;
    transition: all 0.3s ease-in-out; }
  .additional-articles a i.home.icon:hover {
    color: #3878BA;
    transition: all 0.3s ease-in-out;
    border-bottom: 3px #EFB64A solid; }
  .additional-articles a {
    display: inline;
    text-decoration: none;
    color: black; }
  .additional-articles a, .additional-articles a div i, .additional-articles i.icon {
    transition: all 0.3s ease-in-out; }
  .additional-articles a:hover i.icon, .additional-articles a:hover .navigation {
    color: #3878BA;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: none; }
  .additional-articles a:hover .titles {
    color: #3878BA;
    border-bottom: 3px #EFB64A solid;
    cursor: pointer;
    transition: all 0.3s ease-in-out; }
  .additional-articles .link-wrapper {
    display: inline-block; }

.interactive-website::before {
  text-align: center;
  padding: 4rem;
  font-family: "Palatino", "Palatino Linotype", "Georgia", Times, Serif;
  font-style: italic;
  display: block;
  content: "Interactive Website";
  font-size: 2rem; }
  @media (max-width: 1000px) {
    .interactive-website::before {
      content: "Screenshot(s) below. For an interactive demo, check this out on a desktop";
      font-size: 1.8rem; } }

.interactive-website {
  width: 100%;
  display: block;
  margin-bottom: 3rem; }
  @media (min-width: 1000px) {
    .interactive-website {
      max-width: none; } }

@media (min-width: 1000px) {
  .interactive-website.desktop {
    padding-left: calc((100vw - 1920px * 0.5)/2);
    padding-right: calc((100vw - 1920px * 0.5)/2); } }

.interactive-website iframe {
  border: none; }
  @media (max-width: 1000px) {
    .interactive-website iframe {
      display: none; } }

.interactive-website.desktop iframe {
  width: 1920px;
  height: 1080px;
  transform: scale(0.5);
  margin: -270px -480px;
  box-sizing: content-box; }

.interactive-website.tablet iframe {
  width: 768px;
  height: 1024px;
  margin-left: calc((100vw - 768px) / 2); }

.interactive-website.mobile iframe {
  width: 375px;
  height: 667px;
  margin-left: calc((100vw - 375px) / 2); }

div.controls div {
  padding-left: 2rem;
  padding-right: 2rem;
  text-align: center;
  display: inline-block;
  font-family: "Palatino", "Palatino Linotype", "Georgia", Times, Serif;
  font-size: 1.5rem;
  transition: all .3s ease-in-out;
  color: black; }
  @media (max-width: 1000px) {
    div.controls div {
      display: none; } }
  div.controls div i {
    font-size: 2rem; }

div.controls div:hover {
  cursor: pointer;
  color: #3878BA; }

div.controls {
  text-align: center;
  padding-bottom: 3rem; }

.interactive-website .iframe-alternate-photos img {
  max-width: 100%;
  margin-top: 6rem; }
  @media (min-width: 1000px) {
    .interactive-website .iframe-alternate-photos img {
      display: none; } }

.interactive-website .iframe-alternate-photos img:first-child {
  margin-top: 0; }

.iframe-alternate-photos {
  margin: 0;
  margin-left: calc(50vw - 34rem);
  text-align: center; }
  @media (max-width: 320px) {
    .iframe-alternate-photos {
      margin-left: 0; } }
  @media (max-width: 576px) {
    .iframe-alternate-photos {
      margin-left: 0; } }
  @media (min-width: 1000px) {
    .iframe-alternate-photos {
      display: none; } }

div.caption {
  text-align: center;
  max-width: 100%;
  width: 100%;
  font-style: italic; }

.lightbox {
  opacity: 0;
  position: fixed;
  max-height: 100vh;
  max-width: 100vw;
  display: block;
  pointer-events: none;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  overflow: hidden; }
  .lightbox i.icon {
    display: none; }

.lightbox.nav-arrows i.icon {
  color: grey;
  transition: .2s color ease-out;
  display: block;
  position: absolute;
  font-size: 80px;
  top: calc(50vh - 40px);
  text-shadow: 0px 0px 20px #8c8c8c;
  width: 0px; }
  @media (min-width: 576px) and (max-width: 768px) {
    .lightbox.nav-arrows i.icon {
      font-size: 50px;
      top: calc(50vh - 25px);
      text-shadow: 0px 0px 30px #000000; } }
  @media (max-width: 576px) {
    .lightbox.nav-arrows i.icon {
      font-size: 50px;
      top: calc(50vh - 25px);
      text-shadow: 0px 0px 30px #000000; } }
.lightbox.nav-arrows i.icon:hover {
  cursor: pointer;
  color: black; }
.lightbox.nav-arrows i.icon:active {
  color: black; }
.lightbox.nav-arrows i.icon.left {
  left: 1.5vw;
  text-align: left; }
.lightbox.nav-arrows i.icon.right {
  right: calc(1.5vw + 20px);
  text-align: right; }
  @media (min-width: 576px) and (max-width: 768px) {
    .lightbox.nav-arrows i.icon.right {
      right: calc(1.5vw + 12.5px); } }
  @media (max-width: 576px) {
    .lightbox.nav-arrows i.icon.right {
      right: calc(1.5vw + 12.5px); } }

.lightbox.visible {
  opacity: 1;
  pointer-events: all;
  z-index: 100; }

.lightbox.visible:hover {
  cursor: zoom-out; }

.thumbnails-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto; }

.thumbnails-wrapper:not(.square) .thumbnail {
  display: inline-flex;
  width: 45%; }
  .thumbnails-wrapper:not(.square) .thumbnail img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: contain; }
  @media (min-width: 769px) {
    .thumbnails-wrapper:not(.square) .thumbnail {
      width: 30%; } }
  @media (min-width: 576px) and (max-width: 768px) {
    .thumbnails-wrapper:not(.square) .thumbnail {
      width: 30%; } }
  @media (max-width: 576px) {
    .thumbnails-wrapper:not(.square) .thumbnail {
      width: 45%; } }

.thumbnails-wrapper.square {
  overflow: hidden; }
  .thumbnails-wrapper.square .thumbnail img {
    margin-bottom: 0;
    width: 14rem;
    height: 14rem;
    object-fit: cover; }
    @media (min-width: 769px) {
      .thumbnails-wrapper.square .thumbnail img {
        width: 22rem;
        height: 22rem; } }
    @media (min-width: 576px) and (max-width: 768px) {
      .thumbnails-wrapper.square .thumbnail img {
        width: 20rem;
        height: 20rem; } }
    @media (max-width: 576px) {
      .thumbnails-wrapper.square .thumbnail img {
        width: 16rem;
        height: 16rem; } }

.day-to-day-video {
  background-image: url("assets/projects/day-to-day-iphone-video.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 4rem auto 6rem auto; }
  .day-to-day-video .video-wrapper {
    height: auto;
    width: 100%;
    overflow: hidden; }
  @media (min-width: 769px) {
    .day-to-day-video {
      width: 592px;
      height: 640px; }
      .day-to-day-video .video-wrapper {
        height: 100%;
        width: 100%;
        padding-left: 46px;
        padding-top: 154px; } }
  @media (min-width: 576px) and (max-width: 768px) {
    .day-to-day-video {
      width: 592px;
      height: 640px; }
      .day-to-day-video .video-wrapper {
        height: 100%;
        width: 100%;
        padding-left: 46px;
        padding-top: 154px; } }
  @media (max-width: 576px) {
    .day-to-day-video {
      height: 320px;
      width: 296px; }
      .day-to-day-video .video-wrapper {
        width: 250px;
        height: 100%;
        margin: 0 auto;
        padding-top: 76px; }
        .day-to-day-video .video-wrapper video {
          width: 100%; } }
  @media (max-width: 320px) {
    .day-to-day-video {
      background-image: none;
      height: auto; }
      .day-to-day-video .video-wrapper {
        display: none; }
        .day-to-day-video .video-wrapper video {
          display: none; } }

@media (max-width: 320px) {
  .day-to-day-video::before {
    font-family: "Palatino", "Palatino Linotype", "Georgia", Times, Serif;
    font-size: 1.8rem;
    font-style: italic;
    content: "To view this demo, please rotate your phone or switch to a larger screen.";
    height: auto; } }

/*# sourceMappingURL=style.css.map */
