* {
  -webkit-text-size-adjust: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  text-rendering: optimizeLegibility;
}
@media (max-width: 576px) {
  * {
    font-size: 56.25%;
  }
}
@media (max-height: 414px) and (max-width: 576px) {
  * {
    font-size: 56.25%;
  }
}

p, p *, span, li, div.caption, th, td, code {
  font-family: "Lora", "Palatino", "Palatino Linotype", "Georgia", Times, Serif;
  font-size: 1.9rem;
  line-height: 3.2rem;
  margin-top: 1.8rem;
  color: rgba(0, 0, 0, 0.8);
  -webkit-hyphens: auto;
  -webkit-hyphenate-limit-before: 3;
  -webkit-hyphenate-limit-after: 3;
  -webkit-hyphenate-limit-chars: 6 3 3;
  -webkit-hyphenate-limit-lines: 2;
  -webkit-hyphenate-limit-last: always;
  -webkit-hyphenate-limit-zone: 8%;
  -moz-hyphens: auto;
  -moz-hyphenate-limit-chars: 6 3 3;
  -moz-hyphenate-limit-lines: 2;
  -moz-hyphenate-limit-last: always;
  -moz-hyphenate-limit-zone: 8%;
  -ms-hyphens: auto;
  -ms-hyphenate-limit-chars: 6 3 3;
  -ms-hyphenate-limit-lines: 2;
  -ms-hyphenate-limit-last: always;
  -ms-hyphenate-limit-zone: 8%;
  hyphens: auto;
  hyphenate-limit-chars: 6 3 3;
  hyphenate-limit-lines: 2;
  hyphenate-limit-last: always;
  hyphenate-limit-zone: 8%;
}

.center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-button, .text-button:visited, .text-button:link, .text-button:hover, .text-button:active, a i.icon, .article p a {
  color: #3878BA;
  text-decoration: none;
  transition: all 0.3s ease-in-out 0s;
  border-bottom: 2px transparent solid;
}

.show-hide-intro {
  font-size: 1.6rem;
}

a i.icon {
  text-align: center;
}

.text-button:hover, a i.icon:hover, .article p a:hover {
  cursor: pointer;
  border-bottom: 2px #EFB64A solid;
}

hr {
  border-top: 2px #3878BA solid;
  max-width: calc(1060px - 2rem);
  margin: 0 auto;
}
@media (min-width: 576px) and (max-width: 768px) {
  hr {
    margin: 0 2rem;
  }
}
@media (max-width: 576px) {
  hr {
    margin: 0 1rem;
  }
}

.container-large {
  margin: 0 auto;
  width: 100%;
  max-width: 1060px;
}

@media (min-width: 769px) {
  .info {
    padding: 30px 0 20px 0;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .info {
    padding: 30px 0 20px 0;
  }
}
@media (max-width: 576px) {
  .info {
    padding: 10px 0 10px 0;
  }
}

.intro {
  height: 0;
  overflow-y: hidden;
  margin-top: 1rem;
}
@media (min-width: 769px) {
  .intro {
    padding: 0 1rem;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .intro {
    padding: 0 2rem;
  }
}
@media (max-width: 576px) {
  .intro {
    padding: 0 1rem;
  }
}
.intro p, .intro a {
  font-size: 1.6rem;
  line-height: 3.1rem;
}

img.profile-picture {
  border-radius: 50%;
  max-width: 172px;
  max-height: 172px;
  transition: all 0.5s ease-in-out;
}
@media (max-width: 320px) {
  img.profile-picture {
    max-width: 150px;
    max-height: 150px;
  }
}

img.profile-picture.shrink {
  max-width: 146.2px;
  max-height: 146.2px;
}

.name {
  padding-top: 5rem;
  font-family: Lato, SansSerif;
  font-weight: 400;
  font-size: 4.5rem;
  letter-spacing: 0.1rem;
}

.subtitle {
  font-family: Lato, SansSerif;
  font-weight: 300;
  color: #707070;
  font-size: 2rem;
  line-height: 2.4rem;
}

.portfolio {
  padding-bottom: 2rem;
}
.portfolio .section-heading {
  font-family: Lato, SansSerif;
  font-weight: 700;
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  padding: 4rem;
}
.portfolio .items-container, .portfolio .misc-items-container {
  max-width: 1060px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin: -2rem auto 2rem auto;
}
@media (min-width: 769px) {
  .portfolio .items-container, .portfolio .misc-items-container {
    padding: 0 1rem;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .portfolio .items-container, .portfolio .misc-items-container {
    padding: 0 2rem;
  }
}
@media (max-width: 576px) {
  .portfolio .items-container, .portfolio .misc-items-container {
    padding: 0 1rem;
  }
}
.portfolio .item {
  text-decoration: none;
  text-align: left;
}
.portfolio .item img {
  box-sizing: content-box;
  width: 100%;
  max-height: 265px;
  object-fit: cover;
}
.portfolio .item .title {
  font-family: Lato, SansSerif;
  font-weight: 700;
  font-size: 2.3rem;
  text-rendering: optimizeLegibility;
  padding: 1rem 0;
  color: black;
}
.portfolio .item .subtitle {
  font-family: Lato, SansSerif;
  font-weight: 300;
  color: #707070;
  font-size: 1.9rem;
  line-height: 2.4rem;
}

.items-container .item-wrapper {
  margin: 2rem 0 3rem 0;
  width: 48%;
}
@media (max-width: 576px) {
  .items-container .item-wrapper {
    width: 100%;
  }
}

.misc-items-container .item-wrapper {
  margin: 2rem 0 3rem 0;
  width: 31%;
}
@media (max-width: 576px) {
  .misc-items-container .item-wrapper {
    width: 100%;
  }
}

.footer {
  margin: 4rem 0;
}
.footer .links {
  padding: 5rem 0;
  margin: 0 auto;
  width: auto;
}
.footer a i.icon {
  padding: 0 0 2.6rem 0;
  margin: 0 0.5rem;
  display: inline-block;
  vertical-align: middle;
}
.footer i.icon {
  font-size: 2rem;
}

#back-button {
  position: fixed;
  top: 3em;
  font-size: 4em;
  color: #EFB64A;
  z-index: 10;
  opacity: 0;
}
@media (min-width: 769px) {
  #back-button {
    top: calc((100vw - 68rem) / 20 + .5em);
    left: calc((100vw - 68rem) / 20 );
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  #back-button {
    display: none;
  }
}
@media (max-width: 576px) {
  #back-button {
    display: none;
  }
}

#back-button:hover {
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

#back-button.enabled {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

#back-button.fadeOut {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

section.landing-image, .landing-image img {
  max-height: 70vh;
  width: 100%;
}
@media (max-width: 576px) {
  section.landing-image, .landing-image img {
    min-height: 150px;
  }
}

@keyframes slide-up-fade-in {
  0% {
    opacity: 0;
    transform: translateY(100vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
section.landing-image {
  animation: 0.5s ease-out slide-up-fade-in;
}

.landing-image img {
  object-fit: cover;
  object-position: 50% 2%;
}

.landing-image div.title {
  padding: 4rem 5vw;
  font-family: Lato, SansSerif;
  text-align: left;
  font-size: 4.5rem;
  color: white;
  max-width: 68rem;
  margin: 0 auto;
  align-self: flex-end;
}
@media (min-width: 769px) {
  .landing-image div.title {
    padding: 4rem 4rem 4rem 0;
    max-width: 68rem;
  }
}
.landing-image div.title-container {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.2) 55%, black 85%, black 100%);
  /* w3c */
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
}

.article-wrapper > *, .iframe-alternate-photos, .interactive-website {
  width: 68rem;
  margin-left: calc(50vw - 34rem);
}
@media (max-width: 780px) {
  .article-wrapper > *, .iframe-alternate-photos, .interactive-website {
    max-width: 100%;
    margin: 0;
  }
}
@media (max-height: 414px) and (max-width: 576px) {
  .article-wrapper > *, .iframe-alternate-photos, .interactive-website {
    width: 100%;
  }
}

.article-wrapper {
  width: 100%;
  padding: 3rem 5vw;
}
@media (min-width: 769px) {
  .article-wrapper {
    padding: 3rem 0;
  }
}
.article-wrapper p {
  margin-top: 1.8rem;
}
.article-wrapper ul, .article-wrapper ul {
  padding-left: 3rem;
}
.article-wrapper h1, .article-wrapper h2, .article-wrapper h3, .article-wrapper h4, .article-wrapper h1 em, .article-wrapper h2 em, .article-wrapper h3 em, .article-wrapper h4 em {
  font-family: Lato, SansSerif;
}
.article-wrapper h1, .article-wrapper h1 em {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 5rem;
  padding-top: 5rem;
}
.article-wrapper h2, .article-wrapper h2 em {
  font-size: 2.9rem;
  font-weight: 400;
  line-height: 4rem;
  padding-top: 4rem;
}
.article-wrapper h3, .article-wrapper h3 em {
  font-size: 2.5rem;
  font-weight: 400;
  color: #555555;
  line-height: 3rem;
  padding-top: 3rem;
}
.article-wrapper h4, .article-wrapper h4 em {
  font-size: 2rem;
  font-weight: 400;
  color: #555555;
  text-decoration: underline;
  line-height: 3rem;
}
.article-wrapper img {
  margin-top: 4rem;
  margin-bottom: 3rem;
}
@media (min-width: 576px) and (max-width: 768px) {
  .article-wrapper img {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}
.article-wrapper .med {
  text-align: center;
}
.article-wrapper .med img {
  max-width: 50%;
}
.article-wrapper .no-fit {
  text-align: center;
}
.article-wrapper .no-fit img {
  max-width: 100%;
  width: auto;
}
.article-wrapper .interactive-website {
  margin-left: 0;
}
.article-wrapper .single-image:not(.no-zoom) img:hover, .article-wrapper .album img:hover {
  cursor: zoom-in;
}
.article-wrapper blockquote {
  border-left: 0.3rem solid #c9c9c9;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
  margin-left: calc(50vw - 34rem + 3rem);
  max-width: calc(68rem - 3rem);
  padding: 0.2rem 0.2rem 0.2rem 2rem;
}
@media (max-width: 780px) {
  .article-wrapper blockquote {
    margin-left: 2rem;
    margin-right: inherit;
  }
}
@media (max-width: 576px) {
  .article-wrapper blockquote {
    width: calc(100vw - 2rem - 10vw);
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .article-wrapper blockquote {
    width: calc(100vw - 2rem - 10vw);
  }
}
.article-wrapper blockquote p {
  margin-top: 0;
}
.article-wrapper blockquote ol, .article-wrapper blockquote ul {
  margin-left: 4rem;
}
.article-wrapper pre code, .article-wrapper pre code span, .article-wrapper pre code * {
  font-family: "Courier New", Courier, Monospaced;
  font-size: 1.5rem;
  line-height: 2rem;
  hyphens: none;
}
.article-wrapper table {
  max-width: 68rem;
  margin: 4rem auto 5rem auto;
  border-collapse: collapse;
  width: 100%;
  border: none;
}
.article-wrapper table .text-right {
  text-align: right;
}
.article-wrapper table .highlight-green {
  background-color: rgba(0, 179, 65, 0.38);
}
.article-wrapper table th {
  border-bottom: 2px solid black;
  font-weight: 300;
  padding: 1rem;
}
.article-wrapper table td {
  border: 1px solid grey;
  vertical-align: top;
}
.article-wrapper table tr td:first-child {
  border-left: none;
}
.article-wrapper table tr td:last-child {
  border-right: none;
}
.article-wrapper table tbody tr:last-child td {
  border-bottom: none;
}
.article-wrapper table tr td {
  padding: 0.3rem 1rem;
}
.article-wrapper div.title {
  padding-top: 3rem;
  font-family: Lato, SansSerif;
  font-weight: 700;
  text-align: left;
  font-size: 6rem;
  color: black;
}
.article-wrapper div.subtitle {
  padding-top: 1rem;
  padding-bottom: 8rem;
  font-family: Lato, SansSerif;
  font-weight: 600;
  text-align: left;
  font-size: 3.8rem;
  border-bottom: 2px solid darkgrey;
  line-height: 4rem;
  max-width: 100%;
}
.article-wrapper hr {
  width: 62rem;
  margin: 3rem calc(50vw - 34rem + 3rem);
}
@media (max-width: 780px) {
  .article-wrapper hr {
    margin: 3rem 3rem;
  }
}
@media (max-width: 576px) {
  .article-wrapper hr {
    width: calc(100vw - 6rem - 10vw);
  }
}
@media (max-width: 320px) {
  .article-wrapper hr {
    width: calc(100vw - 6rem - 10vw);
  }
}

.article {
  padding-bottom: 4rem;
}
.article p {
  font-weight: 300;
}
.article hr {
  border: 1px solid #dadada;
}

.additional-articles {
  background-color: #FAFAFA;
  display: flex;
  width: 100%;
  padding: 3rem 0;
}
.additional-articles .article-column {
  width: 40%;
}
.additional-articles .home-column {
  width: 20%;
  text-align: center;
  justify-content: center;
}
.additional-articles .article-column.next {
  text-align: right;
  float: right;
}
@media (max-width: 576px) {
  .additional-articles .article-column.next {
    width: 80%;
  }
}
@media (max-width: 576px) {
  .additional-articles .article-column.prev {
    display: none;
  }
}
.additional-articles .previous-article, .additional-articles .next-article, .additional-articles .home-column {
  align-items: center;
  display: flex;
}
.additional-articles .navigation, .additional-articles .titles {
  display: inline-block;
}
.additional-articles .titles {
  padding-bottom: 0.8rem;
  border-bottom: 3px transparent solid;
  transition: all 0.3s ease-in-out;
}
.additional-articles .navigation {
  padding: 0 1rem;
}
.additional-articles h1, .additional-articles h2 {
  font-family: Lato, SansSerif;
}
.additional-articles h1 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 4rem;
}
.additional-articles h2 {
  font-size: 2rem;
  font-weight: 400;
}
.additional-articles a i.icon {
  font-size: 2.5rem;
  color: black;
  border: none;
}
.additional-articles a i.home.icon {
  font-size: 3.5rem;
  padding-bottom: 3.5rem;
  border-bottom: 3px transparent solid;
  transition: all 0.3s ease-in-out;
}
.additional-articles a i.home.icon:hover {
  color: #3878BA;
  transition: all 0.3s ease-in-out;
  border-bottom: 3px #EFB64A solid;
}
.additional-articles a {
  display: inline;
  text-decoration: none;
  color: black;
}
.additional-articles a, .additional-articles a div i, .additional-articles i.icon {
  transition: all 0.3s ease-in-out;
}
.additional-articles a:hover i.icon, .additional-articles a:hover .navigation {
  color: #3878BA;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: none;
}
.additional-articles a:hover .titles {
  color: #3878BA;
  border-bottom: 3px #EFB64A solid;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.additional-articles .link-wrapper {
  display: inline-block;
}

.interactive-website::before {
  text-align: center;
  padding: 4rem;
  font-family: "Palatino", "Palatino Linotype", "Georgia", Times, Serif;
  font-style: italic;
  display: block;
  content: "Interactive Website";
  font-size: 2rem;
}
@media (max-width: 1000px) {
  .interactive-website::before {
    content: "Screenshot(s) below. For an interactive demo, check this out on a desktop";
    font-size: 1.8rem;
  }
}

.interactive-website {
  width: 100%;
  display: block;
  margin-bottom: 3rem;
}
@media (min-width: 1000px) {
  .interactive-website {
    max-width: none;
  }
}

@media (min-width: 1000px) {
  .interactive-website.desktop {
    padding-left: calc((100vw - 1920px * 0.5)/2);
    padding-right: calc((100vw - 1920px * 0.5)/2);
  }
}

.interactive-website iframe {
  border: none;
}
@media (max-width: 1000px) {
  .interactive-website iframe {
    display: none;
  }
}

.interactive-website.desktop iframe {
  width: 1920px;
  height: 1080px;
  transform: scale(0.5);
  margin: -270px -480px;
  box-sizing: content-box;
}

.interactive-website.tablet iframe {
  width: 768px;
  height: 1024px;
  margin-left: calc((100vw - 768px) / 2);
}

.interactive-website.mobile iframe {
  width: 375px;
  height: 667px;
  margin-left: calc((100vw - 375px) / 2);
}

div.controls div {
  padding-left: 2rem;
  padding-right: 2rem;
  text-align: center;
  display: inline-block;
  font-family: "Palatino", "Palatino Linotype", "Georgia", Times, Serif;
  font-size: 1.5rem;
  transition: all 0.3s ease-in-out;
  color: black;
}
@media (max-width: 1000px) {
  div.controls div {
    display: none;
  }
}
div.controls div i {
  font-size: 2rem;
}

div.controls div:hover {
  cursor: pointer;
  color: #3878BA;
}

div.controls {
  text-align: center;
  padding-bottom: 3rem;
}

.interactive-website .iframe-alternate-photos img {
  max-width: 100%;
  margin-top: 6rem;
}
@media (min-width: 1000px) {
  .interactive-website .iframe-alternate-photos img {
    display: none;
  }
}
.interactive-website .iframe-alternate-photos img:first-child {
  margin-top: 0;
}

.iframe-alternate-photos {
  margin: 0;
  margin-left: calc(50vw - 34rem);
  text-align: center;
}
@media (max-width: 320px) {
  .iframe-alternate-photos {
    margin-left: 0;
  }
}
@media (max-width: 576px) {
  .iframe-alternate-photos {
    margin-left: 0;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .iframe-alternate-photos {
    margin-left: 0;
  }
}
@media (min-width: 1000px) {
  .iframe-alternate-photos {
    display: none;
  }
}

.thumbnails-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

.thumbnails-wrapper:not(.square) .thumbnail {
  display: inline-flex;
  width: 45%;
}
.thumbnails-wrapper:not(.square) .thumbnail img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
}
@media (min-width: 769px) {
  .thumbnails-wrapper:not(.square) .thumbnail {
    width: 30%;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .thumbnails-wrapper:not(.square) .thumbnail {
    width: 30%;
  }
}
@media (max-width: 576px) {
  .thumbnails-wrapper:not(.square) .thumbnail {
    width: 45%;
  }
}

.thumbnails-wrapper.square {
  overflow: hidden;
}
.thumbnails-wrapper.square .thumbnail img {
  margin-bottom: 0;
  width: 14rem;
  height: 14rem;
  object-fit: cover;
}
@media (min-width: 769px) {
  .thumbnails-wrapper.square .thumbnail img {
    width: 22rem;
    height: 22rem;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .thumbnails-wrapper.square .thumbnail img {
    width: 20rem;
    height: 20rem;
  }
}
@media (max-width: 576px) {
  .thumbnails-wrapper.square .thumbnail img {
    width: 16rem;
    height: 16rem;
  }
}

.day-to-day-video {
  background-image: url("assets/projects/day-to-day-iphone-video.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 4rem auto 6rem auto;
}
.day-to-day-video .video-wrapper {
  height: auto;
  width: 100%;
  overflow: hidden;
}
@media (min-width: 769px) {
  .day-to-day-video {
    width: 592px;
    height: 640px;
  }
  .day-to-day-video .video-wrapper {
    height: 100%;
    width: 100%;
    padding-left: 46px;
    padding-top: 154px;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .day-to-day-video {
    width: 592px;
    height: 640px;
  }
  .day-to-day-video .video-wrapper {
    height: 100%;
    width: 100%;
    padding-left: 46px;
    padding-top: 154px;
  }
}
@media (max-width: 576px) {
  .day-to-day-video {
    height: 320px;
    width: 296px;
  }
  .day-to-day-video .video-wrapper {
    width: 250px;
    height: 100%;
    margin: 0 auto;
    padding-top: 76px;
  }
  .day-to-day-video .video-wrapper video {
    width: 100%;
  }
}
@media (max-width: 320px) {
  .day-to-day-video {
    background-image: none;
    height: auto;
  }
  .day-to-day-video .video-wrapper {
    display: none;
  }
  .day-to-day-video .video-wrapper video {
    display: none;
  }
}

@media (max-width: 320px) {
  .day-to-day-video::before {
    font-family: "Palatino", "Palatino Linotype", "Georgia", Times, Serif;
    font-size: 1.8rem;
    font-style: italic;
    content: "To view this demo, please rotate your phone or switch to a larger screen.";
    height: auto;
  }
}

/* mixin for multiline */
.album {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.album .figure {
  margin-bottom: 2rem;
  width: 48%;
}
.album .figure .image-container {
  width: 100%;
}
.album .figure .image-container img {
  width: 100%;
  height: auto;
}
.album .figure .caption {
  font-style: normal;
  text-align: left;
  font-size: 1.5rem;
  line-height: 2rem;
  margin-top: 1rem;
  overflow: hidden;
  position: relative;
  line-height: 2rem;
  max-height: 6rem;
  text-align: justify;
  margin-right: -1em;
  padding-right: 1em;
}
.album .figure .caption:before {
  content: "...";
  position: absolute;
  right: 0;
  bottom: 0;
}
.album .figure .caption:after {
  content: "";
  position: absolute;
  right: 0;
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  background: white;
}

.album.square .figure .image-container {
  position: relative;
}
.album.square .figure .image-container img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  margin: 0;
}
.album.square .figure .image-container:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

iframe.video {
  height: 50.625vw;
  margin-top: 4rem;
  margin-bottom: 4rem;
}
@media (min-width: 769px) {
  iframe.video {
    width: 68rem;
    height: 38.25rem;
  }
}

#lightbox2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  background-color: transparent;
}
#lightbox2 .icon {
  display: none;
  z-index: 1000;
  color: grey;
  font-size: 40px;
}
@media (max-width: 576px) {
  #lightbox2 .icon {
    font-size: 20px;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  #lightbox2 .icon {
    font-size: 30px;
  }
}
#lightbox2 .chevron-wrapper {
  text-align: center;
  position: fixed;
  width: 40px;
  height: 40px;
}
@media (max-width: 576px) {
  #lightbox2 .chevron-wrapper {
    width: 20px;
    height: 20px;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  #lightbox2 .chevron-wrapper {
    width: 30px;
    height: 30px;
  }
}
#lightbox2 .chevron-wrapper.right {
  top: calc(100vh / 2 - 20px);
  right: 20px;
}
@media (max-width: 576px) {
  #lightbox2 .chevron-wrapper.right {
    top: calc(100vh / 2 - 5px);
    right: 5px;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  #lightbox2 .chevron-wrapper.right {
    top: calc(100vh / 2 - 10px);
    right: 10px;
  }
}
#lightbox2 .chevron-wrapper.left {
  top: calc(100vh / 2 - 20px);
  left: 20px;
}
@media (max-width: 576px) {
  #lightbox2 .chevron-wrapper.left {
    top: calc(100vh / 2 - 5px);
    left: 5px;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  #lightbox2 .chevron-wrapper.left {
    top: calc(100vh / 2 - 10px);
    left: 10px;
  }
}
#lightbox2 .icon:hover, #lightbox2 .chevron-wrapper {
  cursor: pointer;
}
#lightbox2 .chevron-wrapper, #lightbox2 .close.icon, #lightbox2 .caption {
  display: none;
  z-index: 1000;
}
#lightbox2 .chevron-wrapper.hide {
  display: none;
}
#lightbox2 .close.icon {
  position: fixed;
  top: 20px;
  left: 20px;
}
#lightbox2 .image {
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  margin: 0;
}
#lightbox2 .caption {
  position: fixed;
  width: 100%;
  height: auto;
  bottom: 0px;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  font-size: 1.5rem;
  font-style: normal;
  text-align: left;
}
#lightbox2 .caption:empty {
  padding: 0;
}

#lightbox2.fullSize {
  width: 100%;
  height: 100vh;
}

#lightbox2.transition {
  transition: 0.15s ease-out;
}

#lightbox2.active {
  background-color: white;
  z-index: 999;
}
#lightbox2.active .close.icon, #lightbox2.active .caption {
  display: initial;
}

#lightbox2.active.album .chevron-wrapper, #lightbox2.active.album .chevron-wrapper .icon {
  display: initial;
}
#lightbox2.active.album .chevron-wrapper.hide, #lightbox2.active.album .chevron-wrapper.hide .icon {
  display: none;
}

#lightbox2.fadeout {
  opacity: 0;
}

.single-image img {
  max-width: 100%;
}

.single-image p.caption, .single-image p.caption a {
  color: grey;
  font-size: 1.5rem;
  line-height: 1.8rem;
  text-align: left;
}

/*# sourceMappingURL=style.css.map */
