//TODO: remove for animatinon effect
div.landing{
    display:none;
}

//Imports

@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400';

// Mixins
.container::-webkit-scrollbar {
    display: none;
}
@mixin fade-in($delay){
    animation: fade-in .8s ;
    animation-delay: $delay;
    animation-fill-mode: forwards;
}

@mixin fade-out($delay){
    animation: fade-out .8s ;
    animation-delay: $delay;
    animation-fill-mode: forwards;
}

@mixin slide{
    position:fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    overflow: scroll;
}

$desktop-width: 1200px;
$small-desktop-width: 992px;
$tablet-width: 768px;
$phone-width: 480px;


@mixin wide-desktop {
    @media (min-width: #{$desktop-width}) {
        @content;
    }
}

@mixin small-desktop {
    @media (min-width: #{$small-desktop-width}) and (max-width: #{$desktop-width - 1px}){
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$tablet-width}) and (max-width: #{$small-desktop-width - 1px}) {
        @content;
    }
}

@mixin phone {
    @media (max-width: #{$tablet-width - 1px}) {
        @content;
    }
}

@mixin container{
    @include wide-desktop{
        width: 1152px;
    }
    @include small-desktop{
        width: 930px;
    }

    @include tablet{
        margin-left: 8%;
        margin-right: 8%;
    }
    @include phone{
        margin-left: 3%;
        margin-right: 3%;
    }
}

//Variables

//Sizes:
$profileSize: 300px;

$landing-text-hi-size: 200%;
$landing-text-inline-size:150%;

$timelineWidth:2px;
$timelineDateWidth: 130px;
$timelineCircleSize: 28px;
$timelinePadding: 20px;

//Times
$slide-transition-duration: 1.2s;
$slide-transition-delay: 3.8s;

//Colors
$orange : #e2b051;
$timelineColor: #a6ff82;

//resume orange is actually: #E28221

//Animations

@keyframes fade-in {
    from{
        opacity: 0;
    }
    to{
        opacity:1;
    }
}

@keyframes fade-out {
    from{
        opacity: 1;
    }
    to{
        opacity:0;
    }
}

@keyframes scale-out-exit{
    0% {}
    99%{
        transform: scale(1.2);
        opacity:0;
    }
    100% {
        transform: scale(0);
        opacity:0;
    }
}

@keyframes scale-out-enter{
    0% {
        transform: scale(.9);
        //opacity:.1;
        opacity:0;
    }
    99%{
        transform: scale(1);
        opacity:1;
    }
    100% {
        transform: scale(1);
        opacity:1;
    }
}

//Resets & Defaults
* {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 100%;
    -webkit-font-smoothing: subpixel-antialiased;
    text-rendering: optimizeLegibility;
    font-weight:300;

    @include phone{
        font-size: 95%;
    }
}

body{
    background-color: #323232;
}

p{
    margin-top: 5px;
    margin-bottom: 0;
}

.center{
    text-align: center;
}

.vertical-center{
    padding-top:15px;
    display:flex;
    align-items: center;
}
//Main

.underlined{
    display:inline-block;
    border-bottom: 4px solid $orange;
    @include phone{
        border-bottom: 2px solid $orange;
    }
}

.scale-out-enter{
     animation: scale-out-enter $slide-transition-duration forwards cubic-bezier(0.7, 0, 0.3, 1);
 }

.scale-out-exit{
    animation: scale-out-exit $slide-transition-duration forwards cubic-bezier(0.7, 0, 0.3, 1);
}

.scale-out-enter-delayed{
    animation: scale-out-enter $slide-transition-duration forwards cubic-bezier(0.7, 0, 0.3, 1);
    animation-delay: $slide-transition-delay;
}

.scale-out-exit-delayed{
    animation: scale-out-exit $slide-transition-duration forwards cubic-bezier(0.7, 0, 0.3, 1);
    animation-delay: $slide-transition-delay;
}
.main{
    @include slide;
    font-size: 120%;
    font-weight:300;
    background-color: #fafafa;
    z-index: 10;


}

.slide{
    @include slide;
    background-color: #fafafa;
    pointer-events: auto;
}

.slide.hidden, .main.hidden{
    display:none;
    pointer-events: none;
}

.container{
    @include container;
    box-sizing: border-box;
    min-height:100%;
    margin-left: auto;
    margin-right: auto;
    overflow-y: scroll;

    @include wide-desktop{
        padding-top: 100px;
    }
    @include small-desktop{
        padding-top: 80px;
    }
    @include tablet{
        padding-top: 50px;
    }

    @include phone{
        padding-top: 40px;
    }


    //TODO: adjust margins based on media query


    .section-break{
        margin-top:80px;
    }
    .small-break{
        margin-top:40px;
    }
}

h4, h5, h6{
    font-weight: 300;
}

.portfolio{

    .title{
        font-size:150%;
        padding-left:5px;
        padding-right:5px;
        margin-bottom:10px;
    }

    .title-width{
        width:100%;
        text-align: center;
    }

    .portfolio-items{
        display:flex;
        -webkit-flex-flow: row wrap;
        justify-content: space-around;
        cursor:pointer;
    }

    .portfolio-item{
        $padding: 10px;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
        border-radius: 4px;
        background-color: white;
        width: 30%;
        padding: $padding;
        box-sizing: border-box;
        margin-top: 25px;

        @include tablet{
            width: 45%;
        }

        @include phone{
            width: 90%;
            padding:5px;
        }

        img{
            width:100%;
            height:auto;
            //border-radius: 4px;
        }

        .title{
            margin-top:$padding;
            margin-bottom: 0;
            text-align: center;
            font-size: 100%;
        }
    }

    .portfolio-item:hover{
        box-shadow: 0 10px 20px rgba(0,0,0,0.16), 0 7px 7px rgba(0,0,0,0.23);
    }

    .portfolio-item.blank{
        box-shadow: none;
        height:0px;
        padding:0;

    }
}

.timeline{
    //use margins instead of padding because the vertical line is fixed to the height
    margin-top: 20px;
    position:relative;

    a{
        color:black;
    }
    .event{
        margin-top: 20px;
        width:100%;
    }
    div{
        display: inline-block;
    }

    /*
    Date disappears on phones.
    Entire Timeline is given padding l&r to push the sides together
    */
    .date{
        font-size: 125%;
        text-align:right;
        box-sizing: border-box;
        width: $timelineDateWidth;
        vertical-align: top;
        @include phone{
            display: none;
        }
    }

    .event-description{

        .head{
            .organization{
                vertical-align: text-bottom;
                a{
                    font-size: 125%;
                    text-decoration: none;
                }
                i.icon{
                    display:inline;
                    vertical-align: baseline;
                    font-size:70%;
                    line-height:125%;
                    text-decoration: none;
                    color: #616161;
                }
                padding-right:10px;
            }

            .organization:hover *{
                color:$orange !important;
            }
        }

        ul{
            width:100%;
            display:block;
            margin-left:$timelinePadding;
        }

        ul li{
            margin-top:8px;

        }
        
        padding-left:$timelineCircleSize + $timelinePadding*2;
        box-sizing: border-box;
        text-align:left;
        width: calc(100% - #{$timelinePadding*2} - #{$timelineCircleSize} - #{$timelineDateWidth});

        @include phone{
            width: 100%;
            padding-left:$timelineCircleSize * .7 + $timelinePadding;
        }

    }

    .event::before {
        content: "";
        display:block;
        position: absolute;
        width:$timelineCircleSize;
        height:$timelineCircleSize;
        left: $timelineDateWidth + $timelinePadding + $timelineWidth;
        background-color: $orange;
        border-radius: 50%;
        z-index:10;
        @include phone{
            left: $timelineWidth;
            width:$timelineCircleSize - 1;
            height:$timelineCircleSize - 1;
        }
    }

    @include phone{
        margin-left: 5%;
        margin-right:5%;
        box-sizing: border-box;
    }
}

.timeline::before{
    content: "";
    position: absolute;
    left: $timelineDateWidth + $timelineCircleSize/2 + $timelinePadding;
    display: block;
    top: 0;
    bottom: 0;
    border: $timelineWidth solid $orange;
    @include phone{
        left: $timelineCircleSize/2;
        border: none;
        border-left: 3px solid $orange;
        //border: $timelineWidth/2 solid $orange;
    }
}

.heading {
    display:flex;
    align-items: center;
    padding-bottom: 40px;


    .ivey-heading{
        $margin: 5px;
        margin-left: $margin;
        margin-right: $margin;
        height:auto ! important;
        width:70px ! important;
    }

    .profile-pic-heading{
        border-radius: 50%;
        @include wide-desktop{
            max-width: 11%;
        }
        @include small-desktop{
            max-width: 15%;
        }
        @include tablet{
            max-width: 15%;
        }
        @include phone{
            max-width: 25%;
        }
    }
    .key-info{
        @include wide-desktop{
            margin-left: 50px;
        }
        @include small-desktop{
            margin-left: 40px;
        }
        @include tablet{
            margin-left: 30px;
        }
        @include phone{
            margin-left: 20px;
        }

    }
    .name{
        display: inline-block;
        @include wide-desktop{
            $padding: 5px;
            padding-left: $padding;
            padding-right: $padding;
            font-size: 225%;
            font-weight:300;
        }
        @include small-desktop{
            $padding: 5px;
            padding-left: $padding;
            padding-right: $padding;
            font-size: 250%;
            font-weight:300;
        }
        @include tablet{
            $padding: 5px;
            padding-left: $padding;
            padding-right: $padding;
            font-size: 250%;
            font-weight:300;
        }
        @include phone{
            $padding: 5px;
            padding-left: $padding;
            padding-right: $padding;
            font-size: 190%;
            font-weight:300;
        }

    }



    @include phone{
        justify-content: center;
    }

}

//Simple Background
.background{
    width:100vw;
    height: 100vh;
    background-color:black;
    position: absolute;
    top:0;
    left:0;
}

//Landing Page
.landing{
    @include slide;
    position:fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 20;
    //TODO: remove for animation


    background-color: $orange;
}

.profile-pic{
    width: $profileSize;
    height: $profileSize;
    border-radius: 50%;
    @include fade-in(0s);
    @include phone{
        margin-left:8%;
        margin-right:8%;
        max-width: 84%;
        height:auto;
    }
}

.landing-text-wrapper {
    //TODO: change this to include mobile responsiveness
    *{
        opacity:0;
    }

    text-align: center;
    font-weight:200;

    .hi{
        @include fade-in(0s);
        font-size:$landing-text-hi-size;
        margin-top: 10px;
    }
    .inline{
        display: inline;
        font-size:$landing-text-inline-size;
        margin-top: 8px;
    }
    .finance{
        @include fade-in(1.1s)
    }
    .tech{
        @include fade-in(2.1s)
    }
}

.footer{

    margin-bottom: 40px;

    a{
        text-decoration: none;
        color: #616161;
        margin-left:5px;
        margin-right:5px;
    }
    a:hover{
        color: $orange;
    }
}

.close{
    font-size: 4em;
}

.close:hover{
    cursor:pointer;
}
.example-slide{
    font-size: 5rem;
    line-height: 10rem;
}