@import "https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400";
div.landing {
  display: none; }

.container::-webkit-scrollbar {
  display: none; }

@keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fade-out {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
@keyframes scale-out-exit {
  99% {
    transform: scale(1.2);
    opacity: 0; }
  100% {
    transform: scale(0);
    opacity: 0; } }
@keyframes scale-out-enter {
  0% {
    transform: scale(0.9);
    opacity: 0; }
  99% {
    transform: scale(1);
    opacity: 1; }
  100% {
    transform: scale(1);
    opacity: 1; } }
* {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 100%;
  -webkit-font-smoothing: subpixel-antialiased;
  text-rendering: optimizeLegibility;
  font-weight: 300; }
  @media (max-width: 767px) {
    * {
      font-size: 95%; } }

body {
  background-color: #323232; }

p {
  margin-top: 5px;
  margin-bottom: 0; }

.center {
  text-align: center; }

.vertical-center {
  padding-top: 15px;
  display: flex;
  align-items: center; }

.underlined {
  display: inline-block;
  border-bottom: 4px solid #e2b051; }
  @media (max-width: 767px) {
    .underlined {
      border-bottom: 2px solid #e2b051; } }

.scale-out-enter {
  animation: scale-out-enter 1.2s forwards cubic-bezier(0.7, 0, 0.3, 1); }

.scale-out-exit {
  animation: scale-out-exit 1.2s forwards cubic-bezier(0.7, 0, 0.3, 1); }

.scale-out-enter-delayed {
  animation: scale-out-enter 1.2s forwards cubic-bezier(0.7, 0, 0.3, 1);
  animation-delay: 3.8s; }

.scale-out-exit-delayed {
  animation: scale-out-exit 1.2s forwards cubic-bezier(0.7, 0, 0.3, 1);
  animation-delay: 3.8s; }

.main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  font-size: 120%;
  font-weight: 300;
  background-color: #fafafa;
  z-index: 10; }

.slide {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  background-color: #fafafa;
  pointer-events: auto; }

.slide.hidden, .main.hidden {
  display: none;
  pointer-events: none; }

.container {
  box-sizing: border-box;
  min-height: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow-y: scroll; }
  @media (min-width: 1200px) {
    .container {
      width: 1152px; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .container {
      width: 930px; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .container {
      margin-left: 8%;
      margin-right: 8%; } }
  @media (max-width: 767px) {
    .container {
      margin-left: 3%;
      margin-right: 3%; } }
  @media (min-width: 1200px) {
    .container {
      padding-top: 100px; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .container {
      padding-top: 80px; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .container {
      padding-top: 50px; } }
  @media (max-width: 767px) {
    .container {
      padding-top: 40px; } }
  .container .section-break {
    margin-top: 80px; }
  .container .small-break {
    margin-top: 40px; }

h4, h5, h6 {
  font-weight: 300; }

.portfolio .title {
  font-size: 150%;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 10px; }
.portfolio .title-width {
  width: 100%;
  text-align: center; }
.portfolio .portfolio-items {
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  cursor: pointer; }
.portfolio .portfolio-item {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  border-radius: 4px;
  background-color: white;
  width: 30%;
  padding: 10px;
  box-sizing: border-box;
  margin-top: 25px; }
  @media (min-width: 768px) and (max-width: 991px) {
    .portfolio .portfolio-item {
      width: 45%; } }
  @media (max-width: 767px) {
    .portfolio .portfolio-item {
      width: 90%;
      padding: 5px; } }
  .portfolio .portfolio-item img {
    width: 100%;
    height: auto; }
  .portfolio .portfolio-item .title {
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
    font-size: 100%; }
.portfolio .portfolio-item:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.16), 0 7px 7px rgba(0, 0, 0, 0.23); }
.portfolio .portfolio-item.blank {
  box-shadow: none;
  height: 0px;
  padding: 0; }

.timeline {
  margin-top: 20px;
  position: relative;
  /*
  Date disappears on phones.
  Entire Timeline is given padding l&r to push the sides together
  */ }
  .timeline a {
    color: black; }
  .timeline .event {
    margin-top: 20px;
    width: 100%; }
  .timeline div {
    display: inline-block; }
  .timeline .date {
    font-size: 125%;
    text-align: right;
    box-sizing: border-box;
    width: 130px;
    vertical-align: top; }
    @media (max-width: 767px) {
      .timeline .date {
        display: none; } }
  .timeline .event-description {
    padding-left: 68px;
    box-sizing: border-box;
    text-align: left;
    width: calc(100% - 40px - 28px - 130px); }
    .timeline .event-description .head .organization {
      vertical-align: text-bottom;
      padding-right: 10px; }
      .timeline .event-description .head .organization a {
        font-size: 125%;
        text-decoration: none; }
      .timeline .event-description .head .organization i.icon {
        display: inline;
        vertical-align: baseline;
        font-size: 70%;
        line-height: 125%;
        text-decoration: none;
        color: #616161; }
    .timeline .event-description .head .organization:hover * {
      color: #e2b051 !important; }
    .timeline .event-description ul {
      width: 100%;
      display: block;
      margin-left: 20px; }
    .timeline .event-description ul li {
      margin-top: 8px; }
    @media (max-width: 767px) {
      .timeline .event-description {
        width: 100%;
        padding-left: 39.6px; } }
  .timeline .event::before {
    content: "";
    display: block;
    position: absolute;
    width: 28px;
    height: 28px;
    left: 152px;
    background-color: #e2b051;
    border-radius: 50%;
    z-index: 10; }
    @media (max-width: 767px) {
      .timeline .event::before {
        left: 2px;
        width: 27px;
        height: 27px; } }
  @media (max-width: 767px) {
    .timeline {
      margin-left: 5%;
      margin-right: 5%;
      box-sizing: border-box; } }

.timeline::before {
  content: "";
  position: absolute;
  left: 164px;
  display: block;
  top: 0;
  bottom: 0;
  border: 2px solid #e2b051; }
  @media (max-width: 767px) {
    .timeline::before {
      left: 14px;
      border: none;
      border-left: 3px solid #e2b051; } }

.heading {
  display: flex;
  align-items: center;
  padding-bottom: 40px; }
  .heading .ivey-heading {
    margin-left: 5px;
    margin-right: 5px;
    height: auto !important;
    width: 70px !important; }
  .heading .profile-pic-heading {
    border-radius: 50%; }
    @media (min-width: 1200px) {
      .heading .profile-pic-heading {
        max-width: 11%; } }
    @media (min-width: 992px) and (max-width: 1199px) {
      .heading .profile-pic-heading {
        max-width: 15%; } }
    @media (min-width: 768px) and (max-width: 991px) {
      .heading .profile-pic-heading {
        max-width: 15%; } }
    @media (max-width: 767px) {
      .heading .profile-pic-heading {
        max-width: 25%; } }
  @media (min-width: 1200px) {
    .heading .key-info {
      margin-left: 50px; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .heading .key-info {
      margin-left: 40px; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .heading .key-info {
      margin-left: 30px; } }
  @media (max-width: 767px) {
    .heading .key-info {
      margin-left: 20px; } }
  .heading .name {
    display: inline-block; }
    @media (min-width: 1200px) {
      .heading .name {
        padding-left: 5px;
        padding-right: 5px;
        font-size: 225%;
        font-weight: 300; } }
    @media (min-width: 992px) and (max-width: 1199px) {
      .heading .name {
        padding-left: 5px;
        padding-right: 5px;
        font-size: 250%;
        font-weight: 300; } }
    @media (min-width: 768px) and (max-width: 991px) {
      .heading .name {
        padding-left: 5px;
        padding-right: 5px;
        font-size: 250%;
        font-weight: 300; } }
    @media (max-width: 767px) {
      .heading .name {
        padding-left: 5px;
        padding-right: 5px;
        font-size: 190%;
        font-weight: 300; } }
  @media (max-width: 767px) {
    .heading {
      justify-content: center; } }

.background {
  width: 100vw;
  height: 100vh;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0; }

.landing {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;
  background-color: #e2b051; }

.profile-pic {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  animation: fade-in 0.8s;
  animation-delay: 0s;
  animation-fill-mode: forwards; }
  @media (max-width: 767px) {
    .profile-pic {
      margin-left: 8%;
      margin-right: 8%;
      max-width: 84%;
      height: auto; } }

.landing-text-wrapper {
  text-align: center;
  font-weight: 200; }
  .landing-text-wrapper * {
    opacity: 0; }
  .landing-text-wrapper .hi {
    animation: fade-in 0.8s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    font-size: 200%;
    margin-top: 10px; }
  .landing-text-wrapper .inline {
    display: inline;
    font-size: 150%;
    margin-top: 8px; }
  .landing-text-wrapper .finance {
    animation: fade-in 0.8s;
    animation-delay: 1.1s;
    animation-fill-mode: forwards; }
  .landing-text-wrapper .tech {
    animation: fade-in 0.8s;
    animation-delay: 2.1s;
    animation-fill-mode: forwards; }

.footer {
  margin-bottom: 40px; }
  .footer a {
    text-decoration: none;
    color: #616161;
    margin-left: 5px;
    margin-right: 5px; }
  .footer a:hover {
    color: #e2b051; }

.close {
  font-size: 4em; }

.close:hover {
  cursor: pointer; }

.example-slide {
  font-size: 5rem;
  line-height: 10rem; }

/*# sourceMappingURL=style.css.map */
