@import url("https://fonts.googleapis.com/css?family=Lato");
* {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  font-family: "Lato", sans-serif;
  box-sizing: content-box; }

body {
  overflow-x: hidden; }

.phrase {
  padding: 1rem;
  height: 6.6rem;
  color: white;
  background-color: orange; }
  .phrase *, .phrase .emphasis {
    font-size: 1.8rem;
    line-height: 1.8rem;
    color: inherit; }

.phrase .span, .phrase .template {
  display: inline-block;
  padding: 0.5rem;
  margin: 0 .2rem; }

hr {
  box-sizing: border-box;
  width: 100vw;
  border-bottom: 1px solid grey;
  background-color: #f0f0f0; }

span.emphasis {
  color: black; }

.constructors-container .option, .suggested-container .option {
  font-size: 1.6rem;
  line-height: 1.6rem;
  margin: 0 0.3rem;
  padding: 0.5rem;
  color: grey; }
  .constructors-container .option *, .suggested-container .option * {
    font-size: inherit;
    line-height: inherit; }

.suggested-container {
  background-color: #f0f0f0; }

.suggested-container .option {
  display: inline;
  max-width: 40%;
  background-color: #dfdfdf; }

.constructors-container .option {
  display: block;
  box-sizing: border-box; }

.constructors-container {
  display: none;
  background-color: #f0f0f0; }

.constructors-container.active {
  display: block; }

.suggested-container {
  height: 2.8rem;
  padding-top: 1rem; }

div .option strong, .tab-objects div .option em, .tab-objects div .option span.emphasis {
  font-size: inherit;
  line-height: inherit; }

.option:active {
  background-color: #f5f5f5;
  color: black; }

.option {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: grey; }

.field[contenteditable="true"] {
  outline: none;
  border: none;
  border-bottom: 1px solid #ffffff;
  min-width: 4rem;
  display: inline-block;
  margin-left: .2rem;
  padding: 0.2rem;
  overflow-y: auto; }

div.option.emphasis:empty {
  display: none; }

#transcript-container {
  width: 100vw;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh; }

#transcript-container.visible {
  display: block;
  background-color: beige; }
  #transcript-container.visible p {
    font-size: 1.6rem;
    line-height: 2.4rem; }

.option:hover, .phrase:hover {
  cursor: pointer; }

div.template {
  border: 1px solid white;
  border-radius: .5rem; }

.option.hidden {
  display: none; }

.tabs {
  position: absolute;
  bottom: 0;
  height: 3rem; }
  .tabs .tab {
    font-size: 1.6rem;
    display: inline-block;
    padding: .5rem .25rem .5rem .25rem;
    margin: 0 0.75rem 0 0;
    color: #9e9e9e; }
  .tabs .tab:hover {
    cursor: pointer; }
  .tabs .tab.active {
    color: black;
    background-color: #f0f0f0;
    border-bottom-left-radius: .2rem;
    border-bottom-right-radius: .2rem; }
  .tabs .tab.active:hover {
    cursor: default; }
  .tabs .tab-objects {
    border-top: 2px solid #9e9e9e;
    margin-top: -2px;
    font-size: 1.6rem; }
    .tabs .tab-objects div {
      display: block;
      padding: .5rem 0;
      font-size: 1.6rem;
      color: #a2a2a2; }

.phone-wrapper {
  position: relative; }

#transcript-icon, #close-icon {
  font-size: 1.3rem; }

#transcript-icon {
  margin-left: .4rem; }

#transcripts {
  overflow-y: scroll;
  padding: 1rem; }

#close {
  position: absolute;
  bottom: .6rem;
  left: .4rem; }

.size-selection.hidden {
  display: none; }

.size-selection {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: orangered;
  z-index: 100;
  color: white; }
  .size-selection .title {
    font-size: 3rem;
    margin-top: 5rem;
    margin-bottom: 3rem; }
  .size-selection .phone-size {
    border: 1px solid white;
    margin-top: 1rem;
    font-size: 1.8rem;
    border-radius: .4rem;
    height: 4.8rem;
    padding-top: 2.5rem;
    vertical-align: middle; }
  .size-selection div {
    width: 90vw;
    margin-left: 5vw;
    text-align: center; }

/*
Custom Sizes
 */
.iphone-6 #transcripts, .iphone-7 #transcripts {
  height: calc(302px - 2rem); }
.iphone-6 #transcript-container, .iphone-7 #transcript-container {
  height: 302px; }
.iphone-6 .phone-wrapper, .iphone-7 .phone-wrapper {
  height: 302px; }
.iphone-6 .constructors-container, .iphone-7 .constructors-container {
  height: calc(302px - 15.6rem); }

.iphone-6-plus #transcripts, .iphone-7-plus #transcripts {
  height: calc(358px - 2rem); }
.iphone-6-plus #transcript-container, .iphone-7-plus #transcript-container {
  height: 358px; }
.iphone-6-plus .phone-wrapper, .iphone-7-plus .phone-wrapper {
  height: 358px; }
.iphone-6-plus .constructors-container, .iphone-7-plus .constructors-container {
  height: calc(358px - 15.6rem); }

/*# sourceMappingURL=style.css.map */
