//Imports
@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400';

//GLOBAL VARIABLES

//Sizes:
$profileSize: 15vw;
$profileSizeAnimated: $profileSize * .8;
$profileSizeSmall: 55vw;
$profileSizeSmallAnimated: 43vw;

$landing-text-hi-size: 200%;
$landing-text-inline-size:150%;

$timelineWidth:2px;
$timelineDateWidth: 130px;
$timelineCircleSize: 28px;
$timelinePadding: 20px;

$heading-height-desktop: 350px; //height of major image in slide
$heading-height-phone: 250px;

//Standard Bootstrap Sizes
$desktop-width: 1500px;
$med-desktop-width:1200px;
$small-desktop-width: 992px;
$tablet-width: 768px;
$phone-width: 480px;

$wide-desktop-padding-top-bottom: 36px;
$small-desktop-padding-top-bottom: 20px;
$tablet-padding-top-bottom: 20px;
$phone-padding-top-bottom: 15px;

$desktop-padding: 5vw;
$small-desktop-padding: 80px;
$tablet-padding: 50px;
$phone-padding: 40px;

$section-padding-desktop: 30px;
$section-padding-phone: 15px;

//Times
$slide-transition-duration: .6s;
$slide-transition-delay: 1.7s;
$entrance-transition-duration : 1.2s;

//Colors
$orange : #e2b051; //resume orange is actually: #E28221
//$blue : #5E81C5;
$blue: #3878BA;
$background-primary: #fafafa;
$background-base: #f0f0f0;

//Z-Indices
$z-base: 10;
$z-active:20;
$z-background: -2;

// Mixins

@mixin wide-desktop {
    @media (min-width: #{$desktop-width}) {
        @content;
    }
}
@mixin med-desktop {
    @media (min-width: #{$med-desktop-width}) and (max-width: #{$desktop-width - 1px}){
        @content;
    }
}
//use desktop as wide + med; this is probably poor design, but most of these declarations are honestly the same
@mixin desktop{
    @media (min-width: #{$med-desktop-width}){
        @content;
    }
}
@mixin small-desktop {
    @media (min-width: #{$small-desktop-width}) and (max-width: #{$med-desktop-width - 1px}){
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$tablet-width}) and (max-width: #{$small-desktop-width - 1px}) {
        @content;
    }
}

@mixin phone {
    @media (max-width: #{$tablet-width - 1px}) {
        @content;
    }
}

@mixin slide{
    position:fixed;
    top:0;
    left:0;
    height:100vh;
    width:100%;
    box-sizing: border-box;
    @include desktop{
        width:70%;
        margin-left:30%;
    }
    overflow-x: hidden;
    overflow-y: auto;
}

@mixin container{
    @include desktop{
        width: 100%;
    }
    @include small-desktop{
        width: 100%;
    }
    @include tablet{
        margin-left: 8%;
        margin-right: 8%;
    }
    @include phone{
        margin-left: 3%;
        margin-right: 3%;
    }
}

//ANIMATIONS

@keyframes fade-in {
    0%{
        transform: scale(0);
        opacity: 0;
    }
    1%{
        transform:scale(1);
        opacity:0;
    }
    100%{
        transform:scale(1);
        opacity:1;
    }
}

@keyframes fade-out {
    0%{
        transform: scale(1);
        opacity: 1;
    }
    99%{
        transform:scale(1);
        opacity:0;
    }
    100%{
        transform:scale(0);
        opacity:0;
    }

}

@keyframes scale-out-exit{
    0% {}
    99%{
        transform: scale(1.2);
        opacity:0;
    }
    100% {
        transform: scale(0);
        opacity:0;
    }
}

@keyframes scale-out-enter{
    0% {
        transform: scale(.9);
        //opacity:.1;
        opacity:0;
    }
    99%{
        transform: scale(1);
        opacity:1;
    }
    100% {
        transform: scale(1);
        opacity:1;
    }
}

@keyframes slide-img-enter{
    0%{
        top: 300px;
    }
    100%{
        top: 0;
    }
}

.main.fade-out, .slide.fade-out{
    z-index:$z-active;
    animation: fade-out $slide-transition-duration forwards cubic-bezier(0.0, 0, 0.7, 1);
    overflow-y: hidden;
}

.fade-in{
    z-index:$z-base;
    animation: fade-in $slide-transition-duration forwards cubic-bezier(0.0, 0, 0.7, 1);
}

@mixin shrink-img-lg-final-values{
    width:$profileSizeAnimated;
    height:$profileSizeAnimated;
}

@mixin shrink-img-med-final-values{
    width:25vw;
    height:25vw;
}

@keyframes shrink-img-lg{
    0% {
        width:$profileSize;
        height:$profileSize;
    }
    100% {
        @include shrink-img-lg-final-values;
    }
}

@mixin shrink-img-sm-final-values{
    width:$profileSizeSmallAnimated;
    height:$profileSizeSmallAnimated;
}

@keyframes shrink-img-sm{
    0% {
        width:$profileSizeSmall;
        height:$profileSizeSmall;
    }
    100% {
        @include shrink-img-sm-final-values;
    }
}

@mixin compress-to-left-final-values{
    width:30%;
    font-size: 90%;
}
@keyframes compress-to-left{
    0% {
        width:100%;
        font-size: 100%;
    }
    100% {
        @include compress-to-left-final-values;
    }
}

@mixin compress-to-top-large-final-values{
    height:35vw;
}

@keyframes compress-to-top-large{
    0% {
        width:100%;
        height:100vh;
    }
    100%{
        @include compress-to-top-large-final-values;
    }
}

@mixin compress-to-top-small-final-values{
    min-height: 340px;
    height:60vh;
    font-size: 95%;
}
@keyframes compress-to-top-small{
    0% {
        width:100%;
        height:100vh;
        font-size: 100%;
    }
    100%{
        @include compress-to-top-small-final-values;
    }
}

//TEMPLATES

.small-break{
    margin-top:40px;
}


.slide .container{
    section {
        @include desktop {
            padding-bottom: $wide-desktop-padding-top-bottom;
        }
    }
}
.container{

    font-size:120%;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    overflow-y: auto;
    width:100%;

    .section-title{
        font-size: 115%;
        margin-bottom: 15px;
        display:inline-block;
    }

    .slide-title{
        font-size: 125%;
        margin-bottom: 15px;
        display:inline-block;
    }

    section, section.heading.no-image{

        max-width:100vw;
        @include wide-desktop{
            max-width: 900px;
            padding-top: $wide-desktop-padding-top-bottom;
            padding-left: calc(35vw - 450px);
            padding-right: calc(35vw - 450px);
            margin-right:auto;
            margin-left:auto;
            box-sizing: content-box;
        }
        @include med-desktop{
            padding: $wide-desktop-padding-top-bottom $desktop-padding;

        }
        @include small-desktop{
            padding: $small-desktop-padding-top-bottom $small-desktop-padding;
        }
        @include tablet{
            padding: $tablet-padding-top-bottom 8%;

        }
        @include phone{
            padding: $phone-padding-top-bottom 3%;
        }
    }

    section.fluid{
        @include desktop{
            padding-left: 0;
            padding-right: 0;
            max-width:100vw;
        }
        @include small-desktop{
            padding: $small-desktop-padding-top-bottom 0 0 0;
        }
        @include tablet{
            padding:0;
            margin-left: 0;
            margin-right: 0;
        }
        @include phone{
            padding:0;
            margin-left: 0;
            margin-right: 0;
        }

        .section-title, .slide-title{
            @include wide-desktop{
                margin-left: calc(35vw - 450px);
            }
            @include med-desktop{
                margin-left: $desktop-padding;
            }
            @include small-desktop{
                margin-left: $small-desktop-padding;
            }
            @include tablet{
                margin-left: 8%;
            }
            @include phone{
                margin-left: 3%;
            }
        }
    }

    .slide section:last-child{
        margin-bottom: $wide-desktop-padding-top-bottom;
    }

    section.heading:not(.no-image)::before{
        content:"";
        width:100%;
        position:absolute;
        height:130px;
        left:0;
        top:0;
        background-color: black;
        opacity: .3;
        z-index:-1;
        filter:blur(15px);
    }

    section:first-child{
        padding-top: $section-padding-desktop + $wide-desktop-padding-top-bottom;
        @include phone{
            margin-top: $section-padding-phone + $phone-padding-top-bottom;
            padding-top:10px;
        }
    }





    section:last-child{
        margin-bottom: 0;
    }

}

.main .container {
    padding-bottom:0;
}



//Resets & Defaults
* {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 100%;
    -webkit-font-smoothing: subpixel-antialiased;
    text-rendering: optimizeLegibility;
    font-weight:300;
}

body{
    background-color: $background-base;
}

p{
    margin-top: 5px;
    margin-bottom: 0;
}

h4, h5, h6{
    font-weight: 300;
}

//Main

.underline.thin{
    display:inline;
    //border-bottom: 3px solid $orange;
    border-bottom: 3px solid $orange;
    border-top: none;
    padding-left: 1px;
    padding-right:1px;
    padding-bottom: 0px;
    @include phone{
        border-bottom: 2px solid $orange;
    }


}

.underline{
    display:inline;
    border-bottom: 4px solid $orange;
    padding-left: 2px;
    padding-right:2px;
    padding-bottom: 1px;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
}


.scale-out-enter{
     animation: scale-out-enter $entrance-transition-duration forwards cubic-bezier(0.7, 0, 0.3, 1);
 }

.scale-out-exit{
    animation: scale-out-exit $entrance-transition-duration forwards cubic-bezier(0.7, 0, 0.3, 1);
}

.scale-out-enter-delayed{
    animation: scale-out-enter $entrance-transition-duration forwards cubic-bezier(0.7, 0, 0.3, 1);
    animation-delay: $slide-transition-delay;
}

.scale-out-exit-delayed{
    animation: scale-out-exit $entrance-transition-duration forwards cubic-bezier(0.7, 0, 0.3, 1);
    animation-delay: $slide-transition-delay;
}

.slide.simple{
    section, section.heading, section:nth-child(n+0){
        background-color:$background-primary;
        padding-top: $wide-desktop-padding-top-bottom * .7;
        padding-bottom: $wide-desktop-padding-top-bottom * .7;
    }
    section:last-child{
        margin-bottom:$section-padding-desktop;
        @include phone{
            margin-bottom: $section-padding-phone;
        }
    }

    section:first-child{
        padding-top: $section-padding-desktop + $wide-desktop-padding-top-bottom;
        @include phone{
            margin-top: $section-padding-phone + $phone-padding-top-bottom;

        }
    }


}

.slide{
    @include slide;
    background-color: $background-base;
    pointer-events: auto;
    min-height:100vh;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    section.heading:nth-child(1) {
        background-color: transparent;
    }

    section:nth-child(2) {
        @include desktop{
            padding-top: 2*$wide-desktop-padding-top-bottom;
        }

        @include small-desktop{
            padding-top: 2*$wide-desktop-padding-top-bottom;
        }

        @include tablet{
            padding-top: 2 * $tablet-padding-top-bottom;
        }

        @include phone{
            padding-top: 2 * $phone-padding-top-bottom;
        }

    }
    section:nth-child(2n+1) {
        background-color: $background-primary;
    }
    section:nth-child(2n+2) {
        background-color: white;
    }

    .heading {
        background-color: transparent;
        img {
            width:100%;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            object-fit: cover;
            z-index: $z-background;
            @include desktop {
                height: $heading-height-desktop + $wide-desktop-padding-top-bottom * 2;
            }
            @include small-desktop{
                height: $heading-height-desktop + $wide-desktop-padding-top-bottom * 2;
            }
            @include tablet{
                height: $heading-height-desktop + $tablet-padding-top-bottom * 2;
            }
            @include phone{
                height: $heading-height-phone + $phone-padding-top-bottom * 2;
            }
        }

    }

    .heading .home, .heading .slide-title{
        color: $background-primary;
    }


    .heading.no-image * {
        color: black;
    }

    .heading:not(.no-image){
        @include desktop{
            min-height: $heading-height-desktop - $section-padding-desktop - ($wide-desktop-padding-top-bottom * 2);
        }

        @include small-desktop{
            min-height: $heading-height-desktop - $section-padding-desktop - ($wide-desktop-padding-top-bottom * 2);
        }

        @include tablet{
            min-height: $heading-height-desktop - $section-padding-desktop - ($tablet-padding-top-bottom * 2);
        }

        @include phone{
            min-height: $heading-height-phone - $section-padding-phone - ($phone-padding-top-bottom * 2);
        }
    }

    ul,li{
        margin-left: 15px;
        @include desktop{
            margin-left: 15px;
        }
        @include small-desktop{
            margin-left: 15px;
        }
    }

}


.slide:not(.hidden){
    .heading > img{
        animation: slide-img-enter $slide-transition-duration forwards cubic-bezier(0.7, 0, 0.3, 1);
    }
}

.slide.fade-out:not(.hidden){
    .heading > img{
        animation: none;
    }
}
.slide.hidden, .main.hidden{
    display:none;
    pointer-events: none;
}



.portfolio{

    .title{
        font-size:150%;
        padding-left:5px;
        padding-right:5px;
        margin-bottom:10px;
    }

    .portfolio-items{
        display:flex;
        -webkit-flex-flow: row wrap;
        justify-content: space-around;
        cursor:pointer;
    }

    .portfolio-item{
        overflow-y: hidden;
        position:relative;
        background-color: white;
        width: 100%;
        height:400px;
        box-sizing: border-box;

        img{
            width:100%;
            height:100%;
            position:absolute;
            top:0;
            bottom:0;
            right:0;
            left:0;
            margin:auto;
            object-fit: cover;
        }
        .title{
            vertical-align: middle;
            text-align: center;
            font-size: 100%;
            top:13%;
            position:absolute;
            z-index:$z-active;
            padding:4px;
            left:7%;
            color:white;
            word-wrap: normal;
        }
    }
}

.timeline{
    //use margins instead of padding because the vertical line is fixed to the height
    margin-top: 20px;
    position:relative;

    a{
        color:black;
    }
    .event{
        margin-top: 20px;
        width:100%;
    }
    div{
        display: inline-block;
    }

    /*
    Date disappears on phones.
    Entire Timeline is given padding l&r to push the sides together
    */
    .date{
        font-size: 110%;
        text-align:right;
        box-sizing: border-box;
        width: $timelineDateWidth;
        vertical-align: top;
        @include phone{
            display: none;
        }
    }

    .event-description{

        .head{
            .organization{
                font-size: 110%;
                vertical-align: text-bottom;
                a{
                    text-decoration: none;
                }
                i.icon{
                    display:inline;
                    vertical-align: baseline;
                    font-size:70%;
                    line-height:125%;
                    text-decoration: none;
                    color: #616161;
                }
                padding-right:10px;

                @include phone{
                    display:block;
                }
            }

            .organization:hover *{
                color:$orange !important;
            }
        }

        ul{
            display:block;
            margin-left:$timelinePadding;
        }

        ul li{
            margin-top:8px;

        }
        
        padding-left:$timelineCircleSize + $timelinePadding*2;
        box-sizing: border-box;
        text-align:left;
        width: calc(100% - #{$timelinePadding*2} - #{$timelineCircleSize} - #{$timelineDateWidth});

        @include phone{
            width: 100%;
            padding-left:$timelineCircleSize * .7 + $timelinePadding;
        }

    }

    .event::before {
        content: "";
        display:block;
        position: absolute;
        width:$timelineCircleSize;
        height:$timelineCircleSize;
        left: $timelineDateWidth + $timelinePadding + $timelineWidth;
        background-color: $orange;
        border-radius: 50%;
        z-index:$z-base;
        @include phone{
            left: $timelineWidth;
            width:$timelineCircleSize - 1;
            height:$timelineCircleSize - 1;
        }
    }

    @include phone{
        margin-left: 5%;
        margin-right:5%;
        box-sizing: border-box;
    }
}

.timeline::before{
    content: "";
    position: absolute;
    left: $timelineDateWidth + $timelineCircleSize/2 + $timelinePadding;
    display: block;
    top: 0;
    bottom: 0;
    border: $timelineWidth solid $orange;
    @include phone{
        left: $timelineCircleSize/2;
        border: none;
        border-left: 3px solid $orange;
        //border: $timelineWidth/2 solid $orange;
    }
}

.bio{
    margin-top: 15px;
    p{
        margin-top:10px;
    }
}

.ivey-heading{
    $margin: 5px;
    margin-left: $margin;
    margin-right: $margin;
    height:auto ! important;
    width:70px ! important;
}



//Simple Background
.background{
    width:100vw;
    height: 100vh;
    background-color:black;
    position: absolute;
    top:0;
    left:0;
}

.main{
    position:static;
    width:100%;
    height:auto;
    font-weight:300;
    background-color: #fafafa;
    z-index: $z-base;
    overflow-x: hidden;
    overflow-y:auto;
    @include desktop{
        position:fixed;
        top:0;
        left:0;
        height:100vh;
        width:70%;
        margin-left:30%;
    }
    @include small-desktop{
        position:static;
        width:100%;
        height:auto;
    }
    @include tablet{
        position:static;
        width:100%;
        height:auto;
    }
    @include phone{
        font-size: 110%;
    }
}




//Landing Page
.panel{
    position:static;
    z-index: $z-active;
    background-color: $blue;

    width:100%;
    height:100vh;
    overflow:hidden;
    text-align: center;

    @include desktop{
        min-height:100vh;
        position:fixed;
        top:0;
        left:0;
    }

    @include tablet{
        padding-top: 100px;
    }

    color: #e5e5e5;

    h1.hi{
        padding-top: 3vh;
        font-size: 200%;
    }
    h2.letschat{
        font-size: 130%;
    }
    p{
        margin-top: 30px;
        font-size: 110%;
        @include desktop{
            max-width: 500px;
        }

        @include small-desktop{
            max-width: 300px;
        }
        @include tablet{
            margin-left: 8%;
            margin-right: 8%;
        }
        @include phone{
            margin-left: 3%;
            margin-right: 3%;
        }
    }



}

div.panel.compressed{
    font-size: 90%;
    @include desktop{
        width:30%;
    }
}

.panel.animate{
    animation: compress-to-top-large $entrance-transition-duration forwards cubic-bezier(0.7, 0, 0.3, 1);
    animation-delay: $slide-transition-delay;
    @include desktop{
        animation: compress-to-left $entrance-transition-duration forwards cubic-bezier(0.7, 0, 0.3, 1);
        animation-delay: $slide-transition-delay;
    }

    @include phone{
        animation: compress-to-top-small $entrance-transition-duration forwards cubic-bezier(0.7, 0, 0.3, 1);
        animation-delay: $slide-transition-delay;
    }
}
.panel.animated{
    animation: none;
    @include compress-to-top-large-final-values;
    @include desktop{
        @include compress-to-left-final-values;
    }

    @include phone{
        @include compress-to-top-small-final-values
    }

}


.profile-pic.animate{
    animation: shrink-img-lg $entrance-transition-duration forwards cubic-bezier(0.7, 0, 0.3, 1);
    animation-delay: $slide-transition-delay;

    @include phone{
        animation: shrink-img-sm $entrance-transition-duration forwards cubic-bezier(0.7, 0, 0.3, 1);
        animation-delay: $slide-transition-delay;
    }
}

.profile-pic.animated{
    animation:none !important;
    @include shrink-img-lg-final-values;
    @include phone{
        @include shrink-img-sm-final-values;
    }
    @include tablet{
        @include shrink-img-med-final-values;
    }
}

.profile-pic{
    margin: 0 auto;
    display:block;
    width: $profileSize;
    height: $profileSize;
    border-radius: 50%;
    @include phone{
        width:$profileSizeSmall;
        max-width:210px;
        max-height:210px;
        height:$profileSizeSmall;
        margin-left:auto;
        margin-right:auto;

    }

    @include tablet(){
        width: 300px;
        height: 300px;
    }
}

.panel-contents{
    @include desktop{
        margin-bottom: 40px;
    }
    @include small-desktop{
        margin-bottom:10px;
        padding-top:10px;
    }
    @include tablet{
        margin-bottom:10px;
        padding-top:10px;
    }
    @include phone{
        margin-bottom: 0;
        padding-top:5px;
    }

}
//SLIDES

//Back Chevron
i.chevron.left.icon{
    margin-right:30px;
}


.work-experience{
    background-color: #fafafa;
}

//HELPERS

//Alignment
.hcenter{
    text-align: center;
}

.vcenter{
    display:flex;
    align-items: center;
}

.hvcenter{
    display: flex;
    align-items: center;
    justify-content: center;
}

.no-scrollbars::-webkit-scrollbar{
    display: none;
}

.no-scrollbars-h, .no-scrollbars-h>*{
    overflow-x: hidden;
}
//Padding

div.spacing{
    width:100%;
    height:20px;
}

//Overrides
.contact{
    margin-top:20px;
    font-size: 120%;
    a {
        text-decoration: none;
        margin-left: 5px;
        margin-right: 5px;

        color: #e5e5e5;
    }
    a:hover{
        color: $orange;
    }

    @include phone{
        margin-top:10px;
    }
}

.slide-link:hover{
    cursor: pointer;
    color: $orange;
}


